.showEye{
    text-decoration: none;
}
.showCrossEye{
    text-decoration: line-through;
}
.text-diplay{
    display: inline;
}
.label-diplay{
    display: block;
}
#showHide{
    display: inline;
}
.container{
    display: block;
}